body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f8;
}

.navbar {
  background-color: #f7f7f8 !important;
}

.navbar .container-fluid {
  padding-left: 80px;
  padding-right: 80px;
}

.navbar .navbar-brand {
  color: #333333 !important;
  font-weight: 650;
  font-size: 30px;
}

.navbar .nav-link {
  color: #333333 !important;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #3795bd !important;
}

.konten-satu-text {
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex; /* Menggunakan flexbox */
  justify-content: space-between; /* Mengatur jarak antara elemen */
  align-items: center; /* Menyelaraskan secara vertikal */
}

.text-1 {
  font-size: 28px;
  font-weight: bold;
  color: #333333;
}

.text-2 {
  font-size: 16px;
  color: #666666;
  line-height: 1.6;
  width: 50%; /* Atur lebar untuk menyesuaikan layout */
}
